#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 100%;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #e2eafc;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
}

h1 {
  text-align: center;
  margin: 15px 0;
  font-size: 3em;
  line-height: 1;
}

.capitalize {
  text-transform: capitalize;
  margin: 50px!important;
}

@media (max-width: 600px) {
  .capitalize {
    margin: 10px!important;
  }
}

.search-input {
  width: 100%;
  margin: 3em 1em 2em!important;
  max-width: min(400px, 80vw);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow:  0 0 0 30px #f9f9f9 inset !important;
  -webkit-text-fill-color: #000000 !important;
}

.app-container {
  width: 100%;
  max-width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.weather-container {
  max-width: min(600px, 80vw);
}

@media (max-width: 600px) {
  .app-container {
    padding: 0 8px; /* Redueix el padding en pantalles petites */
  }
}
