.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #1976d2;
    color: white;
}

.temperature-min, .temperature-max {
    font-size: 1rem; 
}

.temperature-max {
    color: red;
    margin-right: 10px!important;
}

.temperature-min {
    color: blue;
}

@media (max-width: 600px) {
    .temperature-max,
    .temperature-min {
        font-size: 0.8rem!important; 
    }
}

.weather-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.weather-table th,
.weather-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.weather-table th {
    background-color: #1976d2;
    color: white;
}

.weather-icon {
    width: 30px;
    height: 30px;
}

.MuiTab-root:focus {
    outline: none;
} 