.table-container {
  width: 100%;
}

.table-cell {
  text-align: center;
  vertical-align: middle;
}

.table-header-cell {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

@media (max-width: 600px) {
  .table-cell {
    font-size: 0.8rem!important;
    padding: 10px!important;
  }
}